<ul>
  <% @race.boats.each do |boat|  %>
    <li>
      <%= boat.name %>
      <ul>
        <li> speed: <%= boat.positions.last.sog %> </li>
        <li> cap: <%= boat.positions.last.cog %> </li>
      </ul>
    </li>
  <% end -%>
</ul>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
